<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shortener WDS</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
      integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/darkmode.css"/>
  </head>
  <body>
    <div class="container">
      <h1>Link Shortener</h1>
      <button id="darkmode">DarkMode</button>

      <form action="/api/url/shorten" method="post">
        <label for="target">Url</label>
        <input type="url" name="target" id="target" />
        <button class="button-primary" type="submit">Shorten</button>
        <span class="message"></span>
      </form>
      <table>
        <thead>
          <tr>
            <th>Resource</th>
            <th></th>
            <th>Short URL</th>
            <th>clicks</th>
            <th>created</th>
            <th>delete?</th>
          </tr>
        </thead>
        <tbody>
          <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td>
              <a href="<%= shortUrl.target %>" target="_blank" rel="noreferrer noopener"> <%= new URL(shortUrl.target).hostname %><%= new URL(shortUrl.target).pathname %></a>
            </td>
            <td>
              <form action="/api/url/edit/<%= shortUrl.short %>" method="post">
                <button class="button-primary" type="submit" value="<%= shortUrl.short %>" name="edit" id="edit">Edit</button>
              </form>
            </td>
            <td><a href="<%= shortUrl.short %>" target="_blank" rel="noreferrer noopener" > <%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
            <td><%= shortUrl.createdDate.toLocaleString() %></td>
            <td>
              <form action="/api/url/delete/<%= shortUrl.short %>" method="post">
                <button class="button-primary" type="submit" value="<%= shortUrl.short %>" name="delete" id="delete">X</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <script src="../js/darkmode.js"></script>
  </body>
</html>
